In [1]:
# coding: utf-8
import numpy as np
import pandas as pd

#настройки, с которыми лучше
pd.set_option('display.max_rows', 45000)
pd.set_option('display.max_columns', 50000)
pd.set_option('display.max_colwidth', 5000)


import sys
sys.path.append('/Users/roman/python/kaggle/chgk_sum')

import rating_fun as rf

In [2]:
import time
import datetime
import requests
import threading

st=datetime.datetime.now()

In [30]:
df=rf.prep_tourn(5409, is_api=True, is_write=False)

In [31]:
df[0:3]

,base_name,bonus_a,bonus_b,current_name,diff_bonus,team_id,included_in_rating,position,predicted_position,questions_suc,tech_rating,tourn_id,result,idtournament,name,date_start,type_name,questions_total,teams,qv_1,qv_2,qv_3,qv_4,qv_5,qv_6,qv_7,qv_8,qv_9,qv_10,qv_11,qv_12,qv_13,qv_14,qv_15,qv_16,qv_17,qv_18,qv_19,qv_20,qv_21,qv_22,qv_23,qv_24,qv_25,qv_26,qv_27,qv_28,qv_29,qv_30,qv_31,qv_32,qv_33,qv_34,qv_35,qv_36,qv_37,qv_38,qv_39,qv_40,qv_41,qv_42,qv_43,qv_44,qv_45,qv_46,qv_47,qv_48,qv_49,qv_50,qv_51,qv_52,qv_53,qv_54,qv_55,qv_56,qv_57,qv_58,qv_59,qv_60,qv_61,qv_62,qv_63,qv_64,qv_65,qv_66,qv_67,qv_68,qv_69,qv_70,qv_71,qv_72,qv_73,qv_74,qv_75
0,Дети Патанджали,2286,1364,Дети Патанджали,204,157,1,5,17,50,4912,5409,1,5409,Каменный цветок,2019-03-30 10:00:00,Обычный,75,53,1,1,1,1,0,0,1,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,0,1,1,1,1,1,0,1,0,0,0,1,0,1,1,0,0,1,1,1,0,1,1,1,1,0,1,0,0,0,1,0,0,1
1,Alta vista,1582,916,Alta vista,-54,1337,1,31,24,35,4294,5409,-1,5409,Каменный цветок,2019-03-30 10:00:00,Обычный,75,53,1,1,1,1,0,0,1,0,0,0,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1,1,0,1,1,1,1,0,1,0,1,1,1,1,0,0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0,0,0
2,28-я проблема Гильберта,2255,1257,28-я проблема Гильберта,108,1392,1,13,18,43,4879,5409,1,5409,Каменный цветок,2019-03-30 10:00:00,Обычный,75,53,1,1,0,1,0,1,1,1,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,1,0,0,1,0,0,1,1,1,1,1,1,0,0,0,1,0,1,1,0,0,1,0,1,0,1,1,1,1,1,1,0,1,0,0,1,0,1

In [32]:
df[df.columns[19:]][0:3]

,qv_1,qv_2,qv_3,qv_4,qv_5,qv_6,qv_7,qv_8,qv_9,qv_10,qv_11,qv_12,qv_13,qv_14,qv_15,qv_16,qv_17,qv_18,qv_19,qv_20,qv_21,qv_22,qv_23,qv_24,qv_25,qv_26,qv_27,qv_28,qv_29,qv_30,qv_31,qv_32,qv_33,qv_34,qv_35,qv_36,qv_37,qv_38,qv_39,qv_40,qv_41,qv_42,qv_43,qv_44,qv_45,qv_46,qv_47,qv_48,qv_49,qv_50,qv_51,qv_52,qv_53,qv_54,qv_55,qv_56,qv_57,qv_58,qv_59,qv_60,qv_61,qv_62,qv_63,qv_64,qv_65,qv_66,qv_67,qv_68,qv_69,qv_70,qv_71,qv_72,qv_73,qv_74,qv_75
0,1,1,1,1,0,0,1,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,0,1,1,1,1,1,0,1,0,0,0,1,0,1,1,0,0,1,1,1,0,1,1,1,1,0,1,0,0,0,1,0,0,1
1,1,1,1,1,0,0,1,0,0,0,0,0,1,0,0,1,1,0,1,1,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,1,1,0,1,1,1,1,0,1,0,1,1,1,1,0,0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0,0,0
2,1,1,0,1,0,1,1,1,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,1,0,0,1,0,0,1,1,1,1,1,1,0,0,0,1,0,1,1,0,0,1,0,1,0,1,1,1,1,1,1,0,1,0,0,1,0,1

In [33]:
def difficult(table):
    qv=table.shape[1]
    teams=table.shape[0]
    d=(teams-np.sum(table, axis=0))/teams
    
    return d

In [34]:
a=difficult(df[df.columns[19:]].values)

In [35]:
a

array([0.49056604, 0.20754717, 0.18867925, 0.13207547, 0.90566038,
       0.79245283, 0.        , 0.83018868, 0.71698113, 0.88679245,
       0.64150943, 0.32075472, 0.16981132, 0.98113208, 0.77358491,
       0.0754717 , 0.0754717 , 0.49056604, 0.33962264, 0.32075472,
       0.67924528, 0.49056604, 0.69811321, 0.62264151, 0.47169811,
       0.35849057, 0.56603774, 0.50943396, 0.39622642, 0.32075472,
       0.0754717 , 0.79245283, 0.32075472, 0.62264151, 0.64150943,
       0.75471698, 0.66037736, 0.41509434, 0.94339623, 0.71698113,
       0.54716981, 0.86792453, 0.66037736, 0.09433962, 0.52830189,
       0.24528302, 0.45283019, 0.67924528, 0.01886792, 0.71698113,
       0.60377358, 0.56603774, 0.43396226, 0.81132075, 0.11320755,
       0.30188679, 0.60377358, 0.88679245, 0.60377358, 0.24528302,
       0.28301887, 0.94339623, 0.71698113, 0.37735849, 0.64150943,
       0.13207547, 0.69811321, 0.1509434 , 0.83018868, 0.77358491,
       0.58490566, 0.81132075, 0.54716981, 0.77358491, 0.26415094])

In [36]:
len(a)

75

In [7]:
fin=datetime.datetime.now()

In [8]:
st

datetime.datetime(2019, 5, 4, 13, 17, 32, 100344)

In [9]:
fin

datetime.datetime(2019, 5, 4, 13, 18, 11, 330794)

In [10]:
fin-st

datetime.timedelta(seconds=39, microseconds=230450)