In [1]:
# coding: utf-8
import numpy as np
import pandas as pd

#настройки, с которыми лучше
pd.set_option('display.max_rows', 45000)
pd.set_option('display.max_columns', 50000)
pd.set_option('display.max_colwidth', 5000)


import sys
sys.path.append('/Users/roman/python/kaggle/chgk_sum')

import rating_fun as rf

import datetime
st=datetime.datetime.now()

print(st)

2019-05-04 21:37:43.522491

In [2]:
df=rf.full_stat(5540, is_api=False, is_write=True)

In [3]:
df[0:1]

,base_name,bonus_a,bonus_b,current_name,diff_bonus,team_id,included_in_rating,position,predicted_position,questions_suc,tech_rating,tourn_id,rating_result,idtournament,name,date_start,type_name,questions_total,teams,result,qv_num,difficult,share,dif_rank,class,difficult_avg,class_order,class_dif,is_top
0,Александр Шайкин,0,855,Александр Шайкин,43,50705,0,5,6,24,3636,5540,1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_1,0.111111,0.888889,33,0.0,0.119048,1,1. Очень простой,0

In [8]:
wg=df.groupby(['class_dif']).agg({'result':  np.sum, 'qv_num': lambda x: x.nunique()})
wg['share']=wg['result']/wg['qv_num']

In [9]:
wg

                  result  qv_num     share
class_dif
1. Очень простой     111      14  7.928571
2. Простой            75      13  5.769231
3. Сложный            26       7  3.714286
4. Очень сложный       3       2  1.500000

In [6]:
top=df[df['is_top']==1]

wg=top.groupby(['class_dif']).agg({'result':  np.sum, 'qv_num': lambda x: x.nunique()})
wg['share']=wg['result']/wg['qv_num']

In [7]:
wg

                  result  qv_num     share
class_dif
1. Очень простой      41      14  2.928571
2. Простой            30      13  2.307692
3. Сложный            16       7  2.285714
4. Очень сложный       1       2  0.500000

In [10]:
team_id=50707

w=df[df['team_id']==team_id]
wg=w.groupby('class').sum()

wg=w.groupby(['class_dif']).agg({'result':  np.sum, 'qv_num': lambda x: x.nunique()})
wg['share']=wg['result']/wg['qv_num']

In [11]:
wg

                  result  qv_num     share
class_dif
1. Очень простой      14      14  1.000000
2. Простой             9      13  0.692308
3. Сложный             5       7  0.714286
4. Очень сложный       0       2  0.000000

In [4]:
top=df[df['is_top']==1]
g=top.groupby('class_dif').mean()[['result']]

In [7]:
g

                    result
class_dif
1. Очень простой  0.976190
2. Простой        0.769231
3. Сложный        0.761905
4. Очень сложный  0.166667

In [8]:
df.groupby('class_dif').mean()[['share']]

                     share
class_dif
1. Очень простой  0.880952
2. Простой        0.641026
3. Сложный        0.412698
4. Очень сложный  0.166667

In [17]:
team_id=50707

w=df[df['team_id']==team_id]
wg=w.groupby('class').sum()

wg=w.groupby(['class_dif']).agg({'result':  np.sum, 'qv_num': lambda x: x.nunique()})
wg['share']=wg['result']/wg['qv_num']

In [18]:
wg

                  result  qv_num     share
class_dif
1. Очень простой      14      14  1.000000
2. Простой             9      13  0.692308
3. Сложный             5       7  0.714286
4. Очень сложный       0       2  0.000000

In [7]:
fin=datetime.datetime.now()
print(fin)
print(fin-st)

2019-05-04 20:24:09.098559
0:00:02.267553