In [1]:
# coding: utf-8
import numpy as np
import pandas as pd

#настройки, с которыми лучше
pd.set_option('display.max_rows', 45000)
pd.set_option('display.max_columns', 50000)
pd.set_option('display.max_colwidth', 5000)


import sys
sys.path.append('/Users/roman/python/kaggle/chgk_sum')

import rating_fun as rf

In [2]:
%%time
rf.get_tourn(4971, is_api=True, is_write=False)[0:3]

CPU times: user 58.1 ms, sys: 13.7 ms, total: 71.8 ms
Wall time: 4.67 s

,base_name,bonus_a,bonus_b,current_name,diff_bonus,idteam,included_in_rating,mask,position,predicted_position,questions_total,tech_rating
0,Афина,2298,1650,Афина,-1,2,1,1111111111111111101111111111X0101101,5.0,4.0,31,7423
1,Пилигрим,2276,1180,Пилигрим,175,39,1,1110111100111111001110111110X1100001,123.5,378.0,24,3396
2,В-Ч-Ж,2171,1013,В-Ч-Ж,119,63,1,1110011010111111101110111100X1001000,222.5,443.0,22,3162

In [5]:
%%time
rf.get_team(4971, 6198, is_api=False, is_write=False)[0:3]

CPU times: user 14.2 ms, sys: 2.26 ms, total: 16.5 ms
Wall time: 19.1 ms

                                   mask  tour
0  [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1]     1
1  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]     2
2  [1, 1, 0, 1, X, 1, 1, 0, 1, 1, 0, 1]     3

In [2]:
df=rf.get_team_from_tourn(4971, 6198, is_api=True, is_write=False)[0:3]