In [1]:
# coding: utf-8
import numpy as np
import pandas as pd

#настройки, с которыми лучше
pd.set_option('display.max_rows', 45000)
pd.set_option('display.max_columns', 50000)
pd.set_option('display.max_colwidth', 5000)


import sys
sys.path.append('/Users/roman/python/kaggle/chgk_sum')

import rating_fun as rf

import datetime
st=datetime.datetime.now()

print(st)

2019-05-04 20:24:06.831006

In [2]:
df=rf.full_stat(5540, is_api=True, is_write=True)

In [3]:
df[0:3]

,base_name,bonus_a,bonus_b,current_name,diff_bonus,team_id,included_in_rating,position,predicted_position,questions_suc,tech_rating,tourn_id,rating_result,idtournament,name,date_start,type_name,questions_total,teams,result,qv_num,difficult,dif_rank,class,difficult_avg,class_order,class_dif
0,Александр Шайкин,0,855,Александр Шайкин,43,50705,0,5,6,24,3636,5540,1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_1,0.111111,33,0.0,0.119048,1,1. Очень простой
1,Почтальона драндулет,0,1026,Почтальона драндулет,-38,50707,0,3,3,28,5313,5540,-1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_1,0.111111,33,0.0,0.119048,1,1. Очень простой
2,Во вторник сможем,1477,1293,Три кармана Аккермана,78,55655,1,1,2,30,5530,5540,1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_1,0.111111,33,0.0,0.119048,1,1. Очень простой

In [15]:
teams=8
char=teams*0.1
if teams<30:
    char=3
else:
    char=np.round(teams*0.1,0)
    
print(char)

top=df.groupby('team_id').sum()[['result']].sort_values(by='result', ascending=False).reset_index()
top['index']=top.index
top['is_top']=np.where(char<3, 3, char)

In [16]:
top

   team_id  result  index
0    55655      30      0
1    61160      30      1
2    50707      28      2
3    60420      28      3
4    50705      24      4
5    68053      24      5
6    62476      19      6
7    60143      18      7
8    59814      14      8

In [4]:
team_id=50707

w=df[df['team_id']==team_id]
wg=w.groupby('class').sum()

wg=w.groupby(['class_dif']).agg({'result':  np.sum, 'qv_num': lambda x: x.nunique()})
#.reset_index().sort_values(by='id', ascending=False)

In [5]:
w[0:3]

,base_name,bonus_a,bonus_b,current_name,diff_bonus,team_id,included_in_rating,position,predicted_position,questions_suc,tech_rating,tourn_id,rating_result,idtournament,name,date_start,type_name,questions_total,teams,result,qv_num,difficult,dif_rank,class,difficult_avg,class_order,class_dif
1,Почтальона драндулет,0,1026,Почтальона драндулет,-38,50707,0,3,3,28,5313,5540,-1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_1,0.111111,33,0.00,0.119048,1,1. Очень простой
10,Почтальона драндулет,0,1026,Почтальона драндулет,-38,50707,0,3,3,28,5313,5540,-1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_2,0.444444,11,0.33,0.358974,2,2. Простой
19,Почтальона драндулет,0,1026,Почтальона драндулет,-38,50707,0,3,3,28,5313,5540,-1,5540,Регулярный чемпионат МГУ. Высшая лига. Третий игровой день,2019-04-05 19:00:00,Обычный,36,9,1,qv_3,0.222222,24,0.00,0.119048,1,1. Очень простой

In [6]:
wg

                  result  qv_num
class_dif
1. Очень простой      14      14
2. Простой             9      13
3. Сложный             5       7
4. Очень сложный       0       2

In [7]:
fin=datetime.datetime.now()
print(fin)
print(fin-st)

2019-05-04 20:24:09.098559
0:00:02.267553